body, html{
    height: 100%;
    position:relative;
}
#main-container{
    width:100%;
    margin:0;
    margin:auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
img{
    height:15rem;
    width:50%;
    border-radius: 15px;
}

#header{
    display:flex;
    justify-content:space-around;
}
#mid {
    margin-top:50px;
}